@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 200vh;
  scroll-behavior: smooth;
}

.classicBtn {
  position: relative;
  color: #232323;
  text-decoration: none;
  font-size: 5.5vw;
  transition: 0.3s;
  width: max-content;
}

.classicBtn:hover {
  color: #3787C4;
}

.classicBtn:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 2px;
  transition: 0.3s;
}

.classicBtn:hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  background-color: #3787C4;
  transition: 0.3s;
}

.solidBtn {
  background-color: #232323;
  color: white;
  text-decoration: none;
  padding: 2vw 5vw;
  border-radius: 3.5vw 0 3.5vw 0;
  font-size: 5.5vw;
  transition: 0.3s;
  width: max-content;
}

.solidBtn:hover {
  background-color: white;
  color: #232323;
  box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 5px 0px;
}

@media screen and (max-width: 480px) {
  .nav-toggle {
    transform: translateX(-100%);
  }
  .openNavBtn {
    background-color: transparent;
    border: none;
    font-size: 9vw;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  .openNavBtn i {
    pointer-events: none;
  }
  .openNavBtn:hover {
    opacity: 75%;
  }
  nav {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    position: fixed;
    width: 45%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
  }
  nav .closeNavBtn {
    border: none;
    background-color: transparent;
    font-size: 9vw;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  nav .closeNavBtn i {
    pointer-events: none;
  }
  nav .closeNavBtn:hover {
    opacity: 75%;
  }
  nav h1 {
    font-size: 8vw;
    position: absolute;
    top: 5%;
  }
  nav .nav_links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    bottom: 0;
    height: 70%;
    gap: 20px;
    position: absolute;
    bottom: 0;
  }
  nav .nav_links .solidBtn {
    position: absolute;
    bottom: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-toggle {
    transform: translateX(-100%);
  }
  .openNavBtn {
    background-color: transparent;
    border: none;
    font-size: 7vw;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  .openNavBtn i {
    pointer-events: none;
  }
  .openNavBtn:hover {
    opacity: 75%;
  }
  nav {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    position: fixed;
    width: 40%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  nav .closeNavBtn {
    border: none;
    background-color: transparent;
    font-size: 7vw;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  nav .closeNavBtn i {
    pointer-events: none;
  }
  nav .closeNavBtn:hover {
    opacity: 75%;
  }
  nav h1 {
    font-size: 7vw;
    position: absolute;
    top: 5%;
  }
  nav .nav_links {
    display: flex;
    flex-direction: column;
    height: 70%;
    gap: 20px;
    position: absolute;
    bottom: 0;
  }
  nav .nav_links .classicBtn {
    font-size: 4vw;
  }
  nav .nav_links .solidBtn {
    font-size: 4vw;
    position: absolute;
    bottom: 10px;
  }
}
@media screen and (min-width: 769px) {
  .openNavBtn {
    display: none;
  }
  .activeNav {
    position: fixed;
    transition: 0.3s;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 45px;
    background-color: white;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  nav .closeNavBtn {
    display: none;
  }
  nav h1 {
    font-size: 3.5vw;
  }
  nav .nav_links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5vw;
  }
  nav .nav_links .classicBtn {
    font-size: 1.5vw;
  }
  nav .nav_links .solidBtn {
    font-size: 1.5vw;
    padding: 0.5vw 2vw;
    border-radius: 1.5vw 0 1.5vw 0;
  }
}/*# sourceMappingURL=style.css.map */