@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$main1: #17597F;
$main2: #3787C4;
$text: #232323;
$text2: white;
$text3: rgb(70, 70, 70);
$background: white;
$background2: #232323;

@keyframes rotateFow{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotateBac {
    from{
        transform: rotate(360deg);

    }
    to{
        transform: rotate(0deg);
    }
}

*{
    scroll-behavior: smooth;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    gap: 175px;
}

.header-logo{
    width: 40vw;
    height: 40vw;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
    }

    .logoHQ{
        position: relative;
        top: 6px;
    }

    .lines{
        position: absolute;
    }

    .line-1{
        animation: 30s linear forwards rotateFow infinite;
    }
    .line-2{
        animation: 30s linear forwards rotateFow infinite;
    }
    .line-3{
        animation: 30s linear forwards rotateFow infinite;
    }
    .line-4{
        animation: 30s linear forwards rotateFow infinite;
    }
    .line-5{
        animation: 30s linear forwards rotateFow infinite;
    }
    .line-6{
        animation: 30s linear forwards rotateFow infinite;
    }
    .line-7{
        animation: 30s linear forwards rotateFow infinite;
    }
}

.classicBtn{
    position: relative;
    color:$text;
    text-decoration: none;
    font-size: 5.5vw;
    transition: 0.3s;
    width: max-content;
}
.classicBtn:hover{
    color: $main2;
}
.classicBtn:after{
    position: absolute;
    bottom:0;
    left: 0;
    content: '';
    width: 0%;
    height: 2px;
    transition: 0.3s;
}
.classicBtn:hover:after{
    position: absolute;
    bottom:0;
    left: 0;
    content: '';
    width: 100%;
    background-color: $main2;
    transition: 0.3s;
}

.solidBtn{
    background-color: $background2;
    color: $text2;
    text-decoration: none;
    padding: 2vw 5vw;
    border-radius: 3.5vw 0 3.5vw 0;
    font-size: 5.5vw;
    transition: 0.3s;
    width: max-content;
}
.solidBtn:hover{
    background-color: $background;
    color:$text;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 5px 0px;
}

.nav_links a.active {
    color: $main2;
}
.nav_links a.active:after{
    position: absolute;
    bottom:0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    transition: 0.3s;
    background-color: $main2;
}

// mobile
@media screen and (max-width: 480px){
    .nav-toggle{
        transform: translateX(-100%);
    }

    .openNavBtn{
        background-color: transparent;
        border: none;
        font-size: 9vw;
        position: fixed;
        top: 5px;
        left: 5px;
        cursor: pointer;
        transition: 0.3s;
        z-index: 1;

        i{
            pointer-events: none;
        }
    }
    .openNavBtn:hover{
        opacity: 75%;
    }

    nav{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: $background;
        position: fixed;
        width: 45%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: 0.3s;
        z-index: 1;

        display: flex;
        flex-direction: column;

        .closeNavBtn{
            border:none;
            background-color: transparent;

            font-size: 9vw;
            position: absolute;
            top:5px;
            right:5px;
            cursor: pointer;
            transition: 0.3s;

            i{
                pointer-events: none;
            }
        }
        .closeNavBtn:hover{
            opacity: 75%;
        }

        h1{
            font-size: 8vw;
            position: absolute;
            top: 5%;
        }

        .nav_links{
            display: flex;
            flex-direction: column;
            gap: 25px;

            position: absolute;
            bottom:0;
            height: 70%;
            gap: 20px;

            position: absolute;
            bottom:0;

            .solidBtn{
                position: absolute;
                bottom: 10px;
            }
        }
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        .header-logo{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .header-text{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 5px;
            text-align: center;
            gap: 5px;
        
            h1{
                font-weight: 600;
                font-size: 12vw;
                color:$main1;

                span{
                    color:$main2;
                }
            }

            p{
                font-size: 4.5vw;
                color: $text3;
            }
        }
    }

    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20vw 25px;
        gap: 15px;
        position: relative;

        .img-wrapper{
            img{
                background-color: rgb(181, 181, 181);
                height: 100%;
                width: 100%;
                border-radius: 45px 0 45px 0;
                box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.478);
            }
        }

        .text-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                color: $main1;
                font-size: 12vw;
                position: absolute;
                top:0;
            }
    
            p{
                text-align: center;
                padding: 15px 0;
                font-size: 4.5vw;
            }
        }
    }

    .projects{


        .title{
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                font-size: 8vw;
                color: $text;
            }

            .line-left {
                height: 5px;
                width: 28%;
                position: absolute;
                left:0;

                span{
                    position: absolute;
                    width: 100%;
                    height: 1.5vw;
                    background-color: #232323;
                  }

                span::after {
                    content: "";
                    position: absolute;
                    width: 4vw;
                    height: 4vw;
                    right: 0;
                    top: 50%;
                    transform: translate(50%, -50%) rotate(45deg);
                    background-color: #232323;
                }
            }

            .line-right{
                height: 5px;
                width: 28%;
                position: absolute;
                right:0;

                span{
                    position: absolute;
                    width: 100%;
                    height: 1.5vw;
                    background-color: #232323;
                  }
                  span::before {
                    content: "";
                    position: absolute;
                    width: 4vw;
                    height: 4vw;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background-color: #232323;
                }
            }

        }

    }
}

// tablet
@media screen and (min-width: 481px) and (max-width: 768px){
    .nav-toggle{
        transform: translateX(-100%);
    }

    .openNavBtn{
        background-color: transparent;
        border: none;
        font-size: 7vw;
        position: fixed;
        top: 5px;
        left: 5px;
        cursor: pointer;
        transition: 0.3s;

        i{
            pointer-events: none;
        }
    }
    .openNavBtn:hover{
        opacity: 75%;
    }

    nav{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: $background;
        position: fixed;
        width: 40%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: 0.3s;
        z-index: 1;

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .closeNavBtn{
            border:none;
            background-color: transparent;

            font-size: 7vw;
            position: absolute;
            top:5px;
            right:5px;
            cursor: pointer;
            transition: 0.3s;

            i{
                pointer-events: none;
            }
        }
        .closeNavBtn:hover{
            opacity: 75%;
        }

        h1{
            font-size: 7vw;
            position: absolute;
            top: 5%;
        }

        .nav_links{
            display: flex;
            flex-direction: column;
            height: 70%;
            gap: 20px;

            position: absolute;
            bottom:0;

            .classicBtn{
                font-size: 4vw;
            }

            .solidBtn{
                font-size: 4vw;
                position: absolute;
                bottom: 10px;
            }
        }
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        .header-logo{
            width: 70vw;
            height: 60vw;
        }
        .header-text{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 30px;
            box-sizing: border-box;
            text-align: center;
            gap: 5px;
        
            h1{
                font-weight: 600;
                font-size: 9vw;
                color:$main1;

                span{
                    color:$main2;
                }
            }

            p{
                font-size: 3.5vw;
                color: $text3;
            }
        }
    }

    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 18vw 75px;
        gap: 15px;
        position: relative;

        .img-wrapper{
            img{
                background-color: rgb(181, 181, 181);
                height: 100%;
                width: 100%;
                border-radius: 45px 0 45px 0;
                box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.478);
            }
        }

        .text-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                color: $main1;
                font-size: 9vw;
                position: absolute;
                top:0;
            }
    
            p{
                text-align: center;
                padding: 15px 0;
                font-size: 3.5vw;
            }
        }
    }
    .projects{

        .title{
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                font-size: 8vw;
                color: $text;
            }

            .line-left {
                height: 5px;
                width: 28%;
                position: absolute;
                left:0;

                span{
                    position: absolute;
                    width: 100%;
                    height: 1.5vw;
                    background-color: #232323;
                  }

                span::after {
                    content: "";
                    position: absolute;
                    width: 4vw;
                    height: 4vw;
                    right: 0;
                    top: 50%;
                    transform: translate(50%, -50%) rotate(45deg);
                    background-color: #232323;
                }
            }

            .line-right{
                height: 5px;
                width: 28%;
                position: absolute;
                right:0;

                span{
                    position: absolute;
                    width: 100%;
                    height: 1.5vw;
                    background-color: #232323;
                  }
                  span::before {
                    content: "";
                    position: absolute;
                    width: 4vw;
                    height: 4vw;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background-color: #232323;
                }
            }

        }

    }
}

// desktop
@media screen and (min-width: 769px){
    .openNavBtn{
        display: none;
    }

    .activeNav{
        position: fixed;
        transition: 0.3s;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 5px 45px;
        background-color: $background;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 45px;
        box-sizing: border-box;
        transition: 0.3s;
        z-index: 1;

        position: absolute;
        width: 100%;
        top:0;

        .closeNavBtn{
            display: none;
        }

        h1{
            font-size: 3.5vw;
        }

        .nav_links{
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 5vw;

            .classicBtn{
                font-size: 1.5vw;
            }

            .solidBtn{
                font-size: 1.5vw;
                padding:0.5vw 2vw;
                border-radius: 1.5vw 0 1.5vw 0;
            }
        }
    }

    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 70px;

        .header-logo{
            width: 50vw;
        }

        .header-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            box-sizing: border-box;
            max-width: 40vw;
            margin-left: auto;
            
            h1{
                font-weight: 600;
                font-size: 5vw;
                color:$main1;
                text-align: center;

                span{
                    color:$main2;
                }
            }

            p{
                width: 85%;
                font-size: 1.3vw;
                text-align: left;
            }
        }
    }

    .about-us{
        display: flex;
        padding: 35px 0;

        .img-wrapper{
            width: 45%;
            padding: 4vw 10vw;
            padding-right: 5vw;

            img{
                background-color: rgb(181, 181, 181);
                height: 100%;
                width: 100%;
                border-radius: 45px 0 45px 0;
                box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.478);
            }
        }

        .text-wrapper{
            width: 55%;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            h1{
                font-size: 5vw;
                color: $main1;
            }

            p{
                color:$text;
                font-size: 1.5vw;
            }
        }
    }

    .projects{


        .title{
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                font-size: 5vw;
                color: $text;
            }

            .line-left {
                height: 5px;
                width: 35%;
                position: absolute;
                left:0;

                span{
                    position: absolute;
                    width: 100%;
                    height: 1.2vw;
                    background-color: #232323;
                  }

                span::after {
                    content: "";
                    position: absolute;
                    width: 3vw;
                    height: 3vw;
                    right: 0;
                    top: 50%;
                    transform: translate(50%, -50%) rotate(45deg);
                    background-color: #232323;
                }
            }

            .line-right{
                height: 5px;
                width: 35%;
                position: absolute;
                right:0;

                span{
                    position: absolute;
                    width: 100%;
                    height: 1.2vw;
                    background-color: #232323;
                  }
                  span::before {
                    content: "";
                    position: absolute;
                    width: 3vw;
                    height: 3vw;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background-color: #232323;
                }
            }

        }

    }
}