@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@keyframes rotateFow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateBac {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
* {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 175px;
  overflow-x: hidden;
}

.header-logo {
  width: 40vw;
  height: 40vw;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo img {
  width: 100%;
}
.header-logo .logoHQ {
  position: relative;
  top: 6px;
}
.header-logo .lines {
  position: absolute;
}
.header-logo .line-1 {
  animation: 30s linear forwards rotateFow infinite;
}
.header-logo .line-2 {
  animation: 30s linear forwards rotateFow infinite;
}
.header-logo .line-3 {
  animation: 30s linear forwards rotateFow infinite;
}
.header-logo .line-4 {
  animation: 30s linear forwards rotateFow infinite;
}
.header-logo .line-5 {
  animation: 30s linear forwards rotateFow infinite;
}
.header-logo .line-6 {
  animation: 30s linear forwards rotateFow infinite;
}
.header-logo .line-7 {
  animation: 30s linear forwards rotateFow infinite;
}

.classicBtn {
  position: relative;
  color: #232323;
  text-decoration: none;
  font-size: 5.5vw;
  transition: 0.3s;
  width: max-content;
}

.classicBtn:hover {
  color: #3787C4;
}

.classicBtn:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 2px;
  transition: 0.3s;
}

.classicBtn:hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  background-color: #3787C4;
  transition: 0.3s;
}

.solidBtn {
  background-color: #232323;
  color: white;
  text-decoration: none;
  padding: 2vw 5vw;
  border-radius: 3.5vw 0 3.5vw 0;
  font-size: 5.5vw;
  transition: 0.3s;
  width: max-content;
}

.solidBtn:hover {
  background-color: white;
  color: #232323;
  box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 5px 0px;
}

.nav_links a.active {
  color: #3787C4;
}

.nav_links a.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  transition: 0.3s;
  background-color: #3787C4;
}

.team{
  padding-top: 75px;
  position: relative;
}
.team .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .title h1 {
  font-size: 5vw;
  color: #232323;
}
.team .title .line-left {
  height: 5px;
  width: 37%;
  position: absolute;
  left: 0;
}
.team .title .line-left span {
  position: absolute;
  width: 100%;
  height: 1vw;
  background-color: #232323;
}
.team .title .line-left span::after {
  content: "";
  position: absolute;
  width: 2.6vw;
  height: 2.6vw;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(45deg);
  background-color: #232323;
}
.team .title .line-right {
  height: 5px;
  width: 37%;
  position: absolute;
  right: 0;
}
.team .title .line-right span {
  position: absolute;
  width: 100%;
  height: 1vw;
  background-color: #232323;
}
.team .title .line-right span::before {
  content: "";
  position: absolute;
  width: 2.6vw;
  height: 2.6vw;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #232323;
}

.team .team-wrapper {
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
  padding: 5vw;
  gap: 6vw;
}

.team .team-wrapper .team-box {
  border-radius: 2vw 0 2vw 0;
  /* padding: 1vw 1vw; */
  
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  /* background-color: gold; */
  transition: 0.3s;
}

.team .team-wrapper .team-box:hover{
  transform: scale(1.1);
}
.team .team-wrapper .team-box:hover .circle img{
  filter: grayscale(0%);
}
.team .team-wrapper .team-box .circle::before{
  content: '';
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 5px solid #3787C4;
  position: absolute;

  transition: 0.3s;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team .team-wrapper .team-box:hover .circle::before{
  width: 105%;
  height: 105%;
}

.team .team-wrapper .team-box .circle {
  position: relative;
  width: 15vw;
  height: 15vw;
  transition: 0.3s;
  pointer-events: none;
}
.team .team-wrapper .team-box .circle .inner-circle{
  overflow: hidden;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  background-color: white;
}
.team .team-wrapper .team-box .circle img{
  width: 100%;
  transition: 0.3s;
  filter: grayscale(100%);
}
.team .team-wrapper .team-box .name {
  font-weight: 600;
  font-size: 1.7vw;
  height: 2vw;
  /* line-height: 28px; */
  text-align: center;
  color: #232323;
  /* background-color: red; */
  pointer-events: none;
}

.view-info{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  transition: 0.3s;
  transform: scale(0);
}

.infoBox-open{
  z-index: 2;
  transform: scale(1);
}

.view-info .info-wrapper{
  width: 80%;
  height: 550px;
  position: fixed;
  background-color: rgb(109, 53, 53);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.view-info .info-wrapper .info-img{

}
.view-info .info-wrapper .info-description{
  
}


@media screen and (max-width: 480px) {
  .nav-toggle {
    transform: translateX(-100%);
  }
  .openNavBtn {
    background-color: transparent;
    border: none;
    font-size: 9vw;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;

    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    padding: 11px 13px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .openNavBtn i {
    pointer-events: none;
  }
  .openNavBtn:hover {
    opacity: 75%;
  }
  nav {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    position: fixed;
    width: 45%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  nav .closeNavBtn {
    border: none;
    background-color: transparent;
    font-size: 9vw;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  nav .closeNavBtn i {
    pointer-events: none;
  }
  nav .closeNavBtn:hover {
    opacity: 75%;
  }
  nav h1 {
    font-size: 8vw;
    position: absolute;
    top: 5%;
  }
  nav .nav_links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    bottom: 0;
    height: 70%;
    gap: 20px;
    position: absolute;
    bottom: 0;
  }
  nav .nav_links .solidBtn {
    position: absolute;
    bottom: 10px;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .header .header-logo {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .header .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;    
    text-align: center;
  }
  .header .header-text h1 {
    width: 100%;
    font-weight: 600;
    font-size: 11vw;
    color: #17597F;
  }
  .header .header-text h1 span {
    color: #3787C4;
  }
  .header .header-text p {
    padding: 0 5vw;
    font-size: 4.5vw;
    color: rgb(70, 70, 70);
  }

  .header .blobs{
    position: absolute;
    top:0;
    left:0;

    width: 100%;
    min-height: 180vh;
    overflow: hidden;
  }
  .header .blobs .blob_1{
    position: absolute;
    transform: translate(-60%, -50%);
  }
  .header .blobs .blob_2{
    position: absolute;
    transform: translate(50%, 0) scale(90%);
    bottom: 15%;
    z-index: -1;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vw 25px;
    gap: 15px;
    position: relative;
  }
  .about-us .img-wrapper img {
    background-color: rgb(181, 181, 181);
    height: 100%;
    width: 100%;
    border-radius: 45px 0 45px 0;
    box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.478);
  }
  .about-us .text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-us .text-wrapper h1 {
    color: #17597F;
    font-size: 12vw;
    position: absolute;
    top: 0;
  }
  .about-us .text-wrapper p {
    text-align: center;
    padding: 15px 0;
    font-size: 4.5vw;
  }

  .about-us .blobs{
    position: absolute;
    width: 100%;
    min-height: 100vh;
  }
  .about-us .blobs .blob_3 {
    position: absolute;
    transform: translate(-50%, 10%);
    z-index: -1;
  }


  .news .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }

  .news .title h1 {
    font-size: 12vw;
    color: #232323;
  }

  .news .title .line-left {
    height: 5px;
    width: 12%;
    position: absolute;
    left: 0;
  }
  .news .title .line-left span {
    position: absolute;
    width: 100%;
    height: 1.5vw;
    background-color: #232323;
  }
  .news .title .line-left span::after {
    content: "";
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    background-color: #232323;
  }

  .news .title .line-right {
    height: 5px;
    width: 12%;
    position: absolute;
    right: 0;
  }
  .news .title .line-right span {
    position: absolute;
    width: 100%;
    height: 1.5vw;
    background-color: #232323;
  }
  .news .title .line-right span::before {
    content: "";
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #232323;
  }

  .news-wrapper {
    padding: 50px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    background: #E7E7E7;
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.25);
  }

  .news-wrapper .news-background {
    position: relative;
    background: url("https://d-art.ppstatic.pl/kadry/k/r/1/d8/9d/62e90b47da0be_o_original.jpg");
    border-radius: 3vw 0 3vw 0;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    gap: 2vw;
  }

  .news-wrapper .news-background .news-box {
    width: 100%;
    height: 40vw;
    padding: 0;
    position: relative;
    background: linear-gradient(180deg, rgba(35, 35, 35, 0.13) 40.83%, #232323 100%);
    border-radius: 3vw 0 3vw 0;
    opacity: 0.5;
    transition: 0.5s;
  }

  .news-wrapper .news-background .news-box:hover {
    background: rgba(35, 35, 35, 0.79);
    opacity: 1;
  }

  .news-wrapper .news-background .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transition: 0.5s;
  }

  .news-wrapper .news-background:hover .content {
    transform: scale(1);
  }

  .news-wrapper .news-background .content h1 {
    position: absolute;
    color: #fff;
    max-width: 85%;
    left: 15px;
    top: 15%;
    text-align: left;
    font-size: 6vw;
    line-height: 28px;
  }

  .news-wrapper .news-background .content p {
    position: absolute;
    max-width: 85%;
    left: 15px;
    top: 37%;
    font-size: 4vw;
    line-height:5vw;
    max-height: 10vw;
    overflow-y: hidden;
    color: #A7A7A7;
  }

  .news-wrapper .news-background .content .btn {
    position: absolute;
    height: 6vw;
    left: 15px;
    top: 70%;
    background: #17597F;
    border-radius: 3vw 0 3vw 0;
    font-size: 3.5vw;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
    padding: 0.5vw 3vw;
    width: max-content;
    max-width: 50vw;
  }

  .news-wrapper .news-background .content .btn:hover {
    background: #fff;
    color: #17597F;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 5px 0px;
  }
  .projects{
    position: relative;
  }
  .projects .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .title h1 {
    font-size: 12vw;
    color: #232323;
  }
  .projects .title .line-left {
    height: 5px;
    width: 20%;
    position: absolute;
    left: 0;
  }
  .projects .title .line-left span {
    position: absolute;
    width: 100%;
    height: 1.5vw;
    background-color: #232323;
  }
  .projects .title .line-left span::after {
    content: "";
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    background-color: #232323;
  }
  .projects .title .line-right {
    height: 5px;
    width: 20%;
    position: absolute;
    right: 0;
  }
  .projects .title .line-right span {
    position: absolute;
    width: 100%;
    height: 1.5vw;
    background-color: #232323;
  }
  .projects .title .line-right span::before {
    content: "";
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #232323;
  }
  .projects .blobs{
    position: absolute;
    overflow: hidden;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .projects .blobs .blob_4{
    position: absolute;
    transform: translate(-50%, 0) scale(150%);
    bottom: 5%;
  }
  .projects .blobs .blob_5{
    position: absolute;
    transform: translate(40%, 30%) scale(150%);
  }
  .projects .blobs .blob_6{
    position: absolute;
    transform: translate(10%, 250%) scale(150%);
  }
  .projects .projects-wrapper {
    padding: 50px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  .projects .projects-wrapper .box-wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    width: 90%;
    padding: 6vw 4vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    gap: 2vw;
    position: relative;
  }
  .projects .projects-wrapper .box-wrapper h1 {
    font-size: 6vw;
  }
  .projects .projects-wrapper .box-wrapper p {
    font-size: 4vw;
    color: #232323;
  }
  .projects .projects-wrapper .box-wrapper .photo {
    width: 100%;
    height: 40vw;
    transition: 0.3s;
    background-color: rgba(225, 225, 225, 0.437);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .projects-wrapper .box-wrapper .photo img {
    width: 100%;
    height: 100%;
  }
  .projects .projects-wrapper .box-wrapper .hashtags {
    padding-top: 5px;
    display: flex;
    gap: 10px;
    position: relative;
    top: 5px;
  }
  .projects .projects-wrapper .box-wrapper .hashtags hr {
    border: 1px solid rgba(35, 35, 35, 0.1490196078);
    position: absolute;
    width: 100%;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  .projects .projects-wrapper .box-wrapper .hashtags span {
    transition: 0.3s;
    font-size: 4vw;
    cursor: pointer;
    color: #232323;
  }
  .projects .projects-wrapper .box-wrapper .hashtags span:hover {
    color: #3787C4;
  }
  .projects .projects-wrapper .box-wrapper:hover {
    transform: scale(1.05);
  }

  .team{
    padding-top: unset;
  }
  .team .title {
    text-align: center;
  }
  .team .title h1 {
    font-size: 12vw;
  }
  .team .team-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35vw;
    padding: 15vw 0;
  }
  .team .team-wrapper .team-box .circle {
    width: 55vw;
    height: 55vw;
  }
  .team .team-wrapper .team-box .name {
    font-size: 7vw;
  }
  .team .team-wrapper .team-box .circle .inner-circle{
    width: 55vw;
    height: 55vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-toggle {
    transform: translateX(-100%);
  }
  .openNavBtn {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    padding: 13px 15px;
    border: none;
    font-size: 7vw;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: baseline;
  }
  .openNavBtn i {
    pointer-events: none;
  }
  .openNavBtn:hover {
    opacity: 75%;
  }
  nav {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    position: fixed;
    width: 40%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  nav .closeNavBtn {
    border: none;
    background-color: transparent;
    font-size: 7vw;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  nav .closeNavBtn i {
    pointer-events: none;
  }
  nav .closeNavBtn:hover {
    opacity: 75%;
  }
  nav h1 {
    font-size: 7vw;
    position: absolute;
    top: 5%;
  }
  nav .nav_links {
    display: flex;
    flex-direction: column;
    height: 70%;
    gap: 20px;
    position: absolute;
    bottom: 0;
  }
  nav .nav_links .classicBtn {
    font-size: 4vw;
  }
  nav .nav_links .solidBtn {
    font-size: 4vw;
    position: absolute;
    bottom: 10px;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .header .header-logo {
    width: 70vw;
    height: 60vw;
  }
  .header .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 13vw;
    gap: 5px;
  }
  .header .header-text h1 {
    width: 100%;
    font-weight: 600;
    font-size: 9vw;
    color: #17597F;
  }
  .header .header-text h1 span {
    color: #3787C4;
  }
  .header .header-text p {
    width: 100%;
    box-sizing: border-box;
    font-size: 3.5vw;
    padding-right: 5vw;
    color: rgb(70, 70, 70);
    text-align: left;
  }
  .header .blobs{
    position: absolute;
    top:0;
    left:0;

    width: 100%;
    min-height: 180vh;
    overflow: hidden;
  }
  .header .blobs .blob_1{
    position: absolute;
    transform: translate(-60%, -50%);
  }
  .header .blobs .blob_2{
    position: absolute;
    transform: translate(50%, 100%);
    z-index: -1;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18vw 75px;
    gap: 15px;
    position: relative;
  }
  .about-us .img-wrapper img {
    background-color: rgb(181, 181, 181);
    height: 100%;
    width: 100%;
    border-radius: 45px 0 45px 0;
    box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.478);
  }
  .about-us .text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-us .text-wrapper h1 {
    color: #17597F;
    font-size: 9vw;
    position: absolute;
    top: 0;
  }
  .about-us .text-wrapper p {
    text-align: center;
    padding: 15px 0;
    font-size: 3.5vw;
  }
  .about-us .blob_3 {
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: -1;
  }
  .news .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }

  .news .title h1 {
    font-size: 8vw;
    color: #232323;
  }

  .news .title .line-left {
    height: 5px;
    width: 23%;
    position: absolute;
    left: 0;
  }
  .news .title .line-left span {
    position: absolute;
    width: 100%;
    height: 1.5vw;
    background-color: #232323;
  }
  .news .title .line-left span::after {
    content: "";
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    background-color: #232323;
  }

  .news .title .line-right {
    height: 5px;
    width: 23%;
    position: absolute;
    right: 0;
  }
  .news .title .line-right span {
    position: absolute;
    width: 100%;
    height: 1.5vw;
    background-color: #232323;
  }
  .news .title .line-right span::before {
    content: "";
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #232323;
  }

  .news-wrapper {
    padding: 50px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    background: #E7E7E7;
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.25);
  }

  .news-wrapper .news-background {
    position: relative;
    background: url("https://d-art.ppstatic.pl/kadry/k/r/1/d8/9d/62e90b47da0be_o_original.jpg");
    border-radius: 3vw 0 3vw 0;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 2vw;
  }

  .news-wrapper .news-background .news-box {
    width: 100%;
    height: 40vw;
    padding: 0;
    position: relative;
    background: linear-gradient(180deg, rgba(35, 35, 35, 0.13) 40.83%, #232323 100%);
    border-radius: 3vw 0 3vw 0;
    opacity: 0.5;
    transition: 0.5s;
  }

  .news-wrapper .news-background .news-box:hover {
    background: rgba(35, 35, 35, 0.79);
    opacity: 1;
  }

  .news-wrapper .news-background .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transition: 0.5s;
  }

  .news-wrapper .news-background:hover .content {
    transform: scale(1);
  }

  .news-wrapper .news-background .content h1 {
    position: absolute;
    color: #fff;
    max-width: 85%;
    left: 15px;
    top: 25%;
    text-align: left;
    font-size: 4.3vw;
    line-height: 28px;
  }

  .news-wrapper .news-background .content p {
    position: absolute;
    max-width: 85%;
    left: 15px;
    top: 45%;
    font-size: 3vw;
    line-height: 20px;
    color: #A7A7A7;
  }

  .news-wrapper .news-background .content .btn {
    position: absolute;
    height: 6vw;
    left: 15px;
    top: 70%;
    background: #17597F;
    border-radius: 3vw 0 3vw 0;
    font-size: 3vw;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
    padding: 0.5vw 3vw;
    width: max-content;
    max-width: 50vw;
  }

  .news-wrapper .news-background .content .btn:hover {
    background: #fff;
    color: #17597F;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 5px 0px;
  }
  .projects{
    position: relative;
  }
  .projects .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .title h1 {
    font-size: 8vw;
    color: #232323;
  }
  .projects .title .line-left {
    height: 5px;
    width: 28%;
    position: absolute;
    left: 0;
  }
  .projects .title .line-left span {
    position: absolute;
    width: 100%;
    height: 1.5vw;
    background-color: #232323;
  }
  .projects .title .line-left span::after {
    content: "";
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    background-color: #232323;
  }
  .projects .title .line-right {
    height: 5px;
    width: 28%;
    position: absolute;
    right: 0;
  }
  .projects .title .line-right span {
    position: absolute;
    width: 100%;
    height: 1.5vw;
    background-color: #232323;
  }
  .projects .title .line-right span::before {
    content: "";
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #232323;
  }
  .projects .blobs{
    overflow: hidden;
    position: absolute;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .projects .blobs .blob_4{
    position: absolute;
    transform: translate(-50%, 0);
    bottom: 5%;
  }
  .projects .blobs .blob_5{
    position: absolute;
    transform: translate(40%, 0%) scale(75%);
  }
  .projects .blobs .blob_6{
    position: absolute;
    transform: translate(20%, 140%) scale(100%);
  }
  .projects .projects-wrapper {
    padding: 50px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  .projects .projects-wrapper .box-wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    width: 80%;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    gap: 2vw;
    position: relative;
  }
  .projects .projects-wrapper .box-wrapper h1 {
    font-size: 4.3vw;
  }
  .projects .projects-wrapper .box-wrapper p {
    font-size: 3vw;
    color: #232323;
  }
  .projects .projects-wrapper .box-wrapper .photo {
    width: 100%;
    height: 28vw;
    transition: 0.3s;
    background-color: rgba(225, 225, 225, 0.437);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .projects-wrapper .box-wrapper .photo img {
    width: 100%;
    height: 100%;
  }
  .projects .projects-wrapper .box-wrapper .hashtags {
    padding-top: 5px;
    display: flex;
    gap: 10px;
    position: relative;
    top: 5px;
  }
  .projects .projects-wrapper .box-wrapper .hashtags hr {
    border: 1px solid rgba(35, 35, 35, 0.1490196078);
    position: absolute;
    width: 100%;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  .projects .projects-wrapper .box-wrapper .hashtags span {
    transition: 0.3s;
    font-size: 2.5vw;
    cursor: pointer;
    color: #232323;
  }
  .projects .projects-wrapper .box-wrapper .hashtags span:hover {
    color: #3787C4;
  }
  .projects .projects-wrapper .box-wrapper:hover {
    transform: scale(1.05);
  }


  .team .title h1 {
    font-size: 8vw;
    color: #232323;
  }
  .team .team-wrapper {
    grid-template-columns: auto auto;
    row-gap: 20vw;
  }
  .team .team-wrapper .team-box .circle {
    width: 28vw;
    height: 28vw;
  }
  .team .team-wrapper .team-box .name {
    font-size: 3.5vw;
  }
  .team .team-wrapper .team-box .circle .inner-circle{
    width: 28vw;
    height: 28vw;
  }
}
@media screen and (min-width: 769px) {
  .openNavBtn {
    display: none;
  }
  .activeNav {
    position: fixed;
    transition: 0.3s;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 45px;
    background-color: white;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
  }
  nav .closeNavBtn {
    display: none;
  }
  nav h1 {
    font-size: 3.5vw;
  }
  nav .nav_links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5vw;
  }
  nav .nav_links .classicBtn {
    font-size: 1.5vw;
  }
  nav .nav_links .solidBtn {
    font-size: 1.5vw;
    padding: 0.5vw 2vw;
    border-radius: 1.5vw 0 1.5vw 0;
  }
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
  }
  .header .header-logo {
    width: 50vw;
  }
  .header .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 60%;
    padding-left: 5vw;
    position: relative;
  }
  .header .header-text h1 {
    font-weight: 600;
    font-size: 5vw;
    color: #17597F;
    width: 100%;
  }
  .header .header-text h1 span {
    color: #3787C4;
  }
  .header .header-text p {
    font-size: 1.3vw;
    text-align: left;
  }
  .header .blobs{
    position: absolute;
    top:0;
    left:0;

    width: 100%;
    min-height: 150vh;
    overflow: hidden;
  }
  .header .blobs .blob_1{
    position: absolute;
    transform: translate(-50%, -55%) scale(50%);
  }
  .header .blobs .blob_2{
    position: absolute;
    transform: translate(50%, 10%) scale(45%);
  }
  .about-us {
    display: flex;
    padding: 55px 0;
  }
  .about-us .img-wrapper {
    width: 45%;
    padding: 4vw 10vw;
    padding-right: 5vw;
  }
  .about-us .img-wrapper img {
    background-color: rgb(181, 181, 181);
    height: 100%;
    width: 100%;
    border-radius: 45px 0 45px 0;
    box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.478);
  }
  .about-us .text-wrapper {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .about-us .text-wrapper h1 {
    font-size: 5vw;
    color: #17597F;
  }
  .about-us .text-wrapper p {
    color: #232323;
    font-size: 1.5vw;
  }
  .about-us .blobs {
    position: absolute;
    left:0;

    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .about-us .blobs .blob_3{
    transform: translate(-50%, -5%) scale(50%);
  }
  .news .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }

  .news .title h1 {
    font-size: 5vw;
    color: #232323;
  }

  .news .title .line-left {
    height: 5px;
    width: 30%;
    position: absolute;
    left: 0;
  }
  .news .title .line-left span {
    position: absolute;
    width: 100%;
    height: 1vw;
    background-color: #232323;
  }
  .news .title .line-left span::after {
    content: "";
    position: absolute;
    width: 2.6vw;
    height: 2.6vw;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    background-color: #232323;
  }
  .news .title .line-right {
    height: 5px;
    width: 30%;
    position: absolute;
    right: 0;
  }
  .news .title .line-right span {
    position: absolute;
    width: 100%;
    height: 1vw;
    background-color: #232323;
  }
  .news .title .line-right span::before {
    content: "";
    position: absolute;
    width: 2.6vw;
    height: 2.6vw;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #232323;
  }

  .news-wrapper {
    padding: 50px 25px;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4.5vw;
    justify-items: center;
    background: #E7E7E7;
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.25);
  }

  .news-wrapper .news-background {
    position: relative;
    background: url("https://d-art.ppstatic.pl/kadry/k/r/1/d8/9d/62e90b47da0be_o_original.jpg");
    border-radius: 1.5vw 0 1.5vw 0;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 23vw;
    gap: 2vw;
  }

  .news-wrapper .news-background .news-box {
    width: 300px;
    max-width: 23vw;
    height: 325px;
    padding: 0;
    position: relative;
    background: linear-gradient(180deg, rgba(35, 35, 35, 0.13) 40.83%, #232323 100%);
    border-radius: 1.5vw 0 1.5vw 0;
    opacity: 0.5;
    transition: 0.5s;
  }

  .news-wrapper .news-background .news-box:hover {
    background: rgba(35, 35, 35, 0.79);
    opacity: 1;
  }

  .news-wrapper .news-background .content {
    position: relative;
    width: 300px;
    height: 150px;
    top: 160px;
    bottom: 20px;
    transform: scale(0);
    transition: 0.5s;
  }

  .news-wrapper .news-background:hover .content {
    transform: scale(1);
  }

  .news-wrapper .news-background .content h1 {
    position: relative;
    color: #fff;
    max-width: 18vw;
    left: 15px;
    text-align: left;
    font-size: 1.5vw;
    line-height: 28px;
  }

  .news-wrapper .news-background .content p {
    position: relative;
    max-width: 18vw;
    left: 15px;
    top: 10px;
    font-size: 1.1vw;
    line-height: 16px;
    color: #A7A7A7;
  }

  .news-wrapper .news-background .content .btn {
    position: relative;
    height: 2vw;
    left: 15px;
    top: 30px;
    background: #17597F;
    border-radius: 1.5vw 0 1.5vw 0;
    font-size: 1.3vw;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
    padding: 0.5vw 1vw;
    width: max-content;
    max-width: 18vw;
  }

  .news-wrapper .news-background .content .btn:hover {
    background: #fff;
    color: #17597F;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 5px 0px;
  }
  .projects {
    padding-top: 100px;
    position: relative;
  }
  .projects .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .title h1 {
    font-size: 5vw;
    color: #232323;
  }
  .projects .title .line-left {
    height: 5px;
    width: 35%;
    position: absolute;
    left: 0;
  }
  .projects .title .line-left span {
    position: absolute;
    width: 100%;
    height: 1vw;
    background-color: #232323;
  }
  .projects .title .line-left span::after {
    content: "";
    position: absolute;
    width: 2.6vw;
    height: 2.6vw;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    background-color: #232323;
  }
  .projects .title .line-right {
    height: 5px;
    width: 35%;
    position: absolute;
    right: 0;
  }
  .projects .title .line-right span {
    position: absolute;
    width: 100%;
    height: 1vw;
    background-color: #232323;
  }
  .projects .title .line-right span::before {
    content: "";
    position: absolute;
    width: 2.6vw;
    height: 2.6vw;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #232323;
  }
  .projects .projects-wrapper {
    padding: 50px 25px;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4.5vw;
    justify-items: center;
  }
  .projects .blobs{
    position: absolute;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .projects .blobs .blob_4{
    position: absolute;
    transform: translate(-60%, 32%) scale(60%);
  }
  .projects .blobs .blob_5{
    position: absolute;
    transform: translate(40%, -12%) scale(60%);
  }
  .projects .blobs .blob_6{
    position: absolute;
    transform: translate(-25%, -10%) scale(55%);
  }
  .projects .projects-wrapper .box-wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    max-width: 23vw;
    padding: 2vw 2.4vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: relative;
  }
  .projects .projects-wrapper .box-wrapper h1 {
    font-size: 1.5vw;
    min-height: 8vw;
  }
  .projects .projects-wrapper .box-wrapper p {
    min-height: 10vw;
    font-size: 1.1vw;
    color: #232323;
    max-width: 25vw;
  }
  .projects .projects-wrapper .box-wrapper .photo {
    width: 100%;
    height: 14vw;
    transition: 0.3s;
    background-color: rgba(225, 225, 225, 0.437);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }
  .projects .projects-wrapper .box-wrapper .photo img {
    width: 100%;
    height: 100%;
  }
  .projects .projects-wrapper .box-wrapper .hashtags {
    padding: 5px 0;
    display: flex;
    gap: 10px;
    position: relative;
    margin-top: 2vw;
  }
  .projects .projects-wrapper .box-wrapper .hashtags hr {
    border: 1px solid rgba(35, 35, 35, 0.1490196078);
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .projects .projects-wrapper .box-wrapper .hashtags span {
    transition: 0.3s;
    font-size: 1.3vw;
    cursor: pointer;
    color: #232323;
  }
  .projects .projects-wrapper .box-wrapper .hashtags span:hover {
    color: #3787C4;
  }
  .projects .projects-wrapper .box-wrapper:hover {
    transform: scale(1.05);
  }

}/*# sourceMappingURL=style.css.map */

.link{
  color:#3787C4;
  font-weight: 600;
  text-decoration: none;
}